/***** BASE *****/
body {
  margin: 0px;
  background-color: #f0f0f0;
  overflow: hidden;
}
hr {
  border-top: 1px solid #ccc;
}
.centered-abs {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 500px;
}

.centered-top {
  position: absolute;
  top: 0%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.centered { text-align: center; width: 100%; position: relative;}

#loading {
  padding-top: 16px;
  font-size: 1.5em;
  color: #585858;
  overflow-y: visible;
  margin-right: 1px;
}
#loading i.fa-spin {
  margin-right: 4px;
}
#loading .alert {
  font-size: 0.85em;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wide { width: 100%; }
.invisible { display: none; }
button .octicon {
  padding-right: 8px;
}

.panel {
  text-align: left;
  border-radius: 0px;
  border: 0px solid transparent;
  box-shadow: 0px 0px 4px #ccc;
}
.panel.noshadow {
  box-shadow: 0 0 0 transparent!important;
}
.panel-success .panel-heading,
.alert-success {
  color: #fff;
  background-color: #5cb85c;
}
.panel-warning .panel-heading,
.alert-warning {
  color: #fff;
  background-color: #ff8900;
}
.panel-danger .panel-heading,
.alert-danger {
  color: #fff;
  background-color: #e53a3a;
}
.panel-info .panel-heading,
.alert-info,
.progress-bar-info {
  color: #fff;
  background-color: #727272;
}
.alert h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.alert .close {
  color: #fff;
  opacity: .6!important;
}
.alert .close:hover {
  color: #fff;
  opacity: 1!important;
}
.alert
{
  text-align: left;
  border-radius: 0;
  border-color: transparent;
}
.progress {
  height: 12px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.panel-heading {
  border-radius: 0px;
  width: 100%;
  padding: 8px;
  padding-left: 12px;
}
.panel-title {
  font-size: 16px;
  border-radius: 0px;
}
.panel .panel-title a {
  color: #fff;
}
.panel-title .fa,
.panel-body .fa {
  padding-left: 0;
  font-size: 1.2em;
}
.panel-title .glyphicon,
.panel-title .fa,
.alert .fa,
.alert .glyphicon {
  margin-right: 8px!important;
}
.panel-title .octicon,
.alert .octicon {
  margin-right: 4px!important;
}
.modal-title span {
  padding-right: 8px;
}
.panel-body .octicon,
.panel-body .fa,
.panel-body .glyphicon {
  margin-right: 8px!important;
}
.panel h5 {
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.5em;
}
.panel h6 {
  margin-bottom: 0px;
}
.panel img { width: 100%; }

button.btn,
.progress {
  border-radius: 0;
}
#loading button.btn {
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}
button.btn .glyphicon {
  margin-right: 4px;
}

.form-group .checkbox label {
  width: 100%;
}

.form-control-feedback.fa-spin {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-top: 9px;
  margin-right: 8px;
}
