<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{# board.public}}{{> public}}{{/ board.public}}{{^ board.public}}{{> private}}{{/ board.public}}
        {{# board.orgurl}}<a href="{{ building.orgurl }}">{{ board.org }}</a>{{/ board.orgurl}}{{^ board.orgurl}}{{ board.org }}{{/ board.orgurl}} / <b>{{# board.titleurl }}<a href="{{ building.titleurl }}">{{ board.title }}</a>{{/ board.titleurl }}{{^ board.titleurl }}{{ board.title }}{{/ board.titleurl }}</b></h2>
  </div>
  <div class="panel-body">
    <h4><i class="fa fa-cog fa-spin"></i>Building board...</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ board.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ board.progress }}%">
        <span class="sr-only">{{ board.progress }}% Complete</span>
      </div>
    </div>
    <br>
    <h5>We're building your board right now.{{# board.email }} When we're done, we'll send an email to the address you provided.{{/ board.email }} Feel free to leave this page and come back anytime.</h5>
  </div>
</div>
