<div class="panel panel-primary" id="selecttemplate">
  <div class="panel-heading">
    <h2 class="panel-title">2. Select a template</h2></div>
  <div class="panel-body">
    <div class="btn-group" data-toggle="buttons">
      {{# templates}}
      <label class="btn btn-default">
        <input type="radio" name="board" id="{{name}}" autocomplete="off"><b>{{ name }}</b>
      </label><br>
      {{/ templates}}
    </div>
  </div>
</div>

<script>
  $('#selecttemplate label').click(function(event) {
    var url = '/build/options?token=' + QueryString.token +
        '&template=' + $(event.target).text().trim();
    $('#selecttemplate').prop("disabled", true);
    $('#templateoptions').remove();
    $.ajax({
      url: url,
      type: 'GET',
      success: function(data) {
        $('#selecttemplate').prop("disabled", false);
        $('#contentfragment').append(data.templateoptions);
      }
    });
  });
</script>
