<div class="panel-body">
  <h4><i class="glyphicon glyphicon-ok"></i>Board successfully built!</h4>
  <div class="btn-group centered">
    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      Download <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/build/{{ board.id }}.pdf">Finalized PDF</a></li>
      <li><a href="/build/{{ board.id }}.tex">Raw LaTeX document</a></li>
      <li><a href="/build/{{ board.id }}.log">Build log</a></li>
    </ul>
  </div>
  <hr>
  <h5>Congratulations, we're done building your board! After building, we'll only store these files for about 24 hours.  Be sure to pick them up by then!</h5>
</div>
