<div class="panel panel-info noshadow">
  <div class="panel-body centered">
    {{# errorcode}}<h1><strong>{{ errorcode }}</strong></h1>{{/ errorcode }}
    <h5>We seem to have run into a "{{ errortext }}" error.  We're not entirely sure what this means, but we'll get on it right away.<br>Would you like to <a href='mailto:pachachura.arthur@gmail.com?body={{ errorcode }} ({{{ errortext }}}) error occurred at {{ date }}{{# stack }} ::: {{{ stack }}}{{/ stack}}'>let us know</a>?</h5>
    <br>
    <a href='mailto:pachachura.arthur@gmail.com?body={{ errorcode }} ({{{ errortext }}}) error occurred at {{ date }}{{# stack }} ::: {{{ stack }}}{{/ stack}}'><img src="/img/404.jpg"></img></a>
  </div>
</div>
