<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>NotebookGenie</title>
    <meta name="author" content="Arthur Pachachura">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <meta name="Keywords" content="Trello, Print, Trello Printer, Trello to PDF, PDF">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NotebookGenie automagically converts a Trello board into a printable document">
  </head>

  <!--  Load External Javascript -->
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
  <script src="https://api.trello.com/1/client.js?key={{ applicationkey }}"></script>

  <!--  Load CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/fonts/fonts.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  {{> querystring}}

  <body>
    <div class="container-fluid" id="loadingsuper">
      <div id="loadingcontainer">
        <div id="loading" {{# wide }}class="wide"{{/ wide}}>
          <a href="/"><img src="/img/trello2latex-rgb-96.png"></a>
          <hr>
          <!-- Content dependent area-->
          {{> main}}
          <!-- End content dependent area-->

          <h6 id="copyright" data-toggle="tooltip" data-placement="top" title="If you like this app, give us a star on Github!">NotebookGenie Copyright (c) {{ year }} Arthur Pachachura<br><b>Licensed under MIT</b> - <a href="https://github.com/smo-key/notebookgenie"><b>Fork me on Github</b></a><br></h6>
          <h6 id="copyright" style="color: #bbbbbb">Happily building boards since {{ startdate }}</h6>
        </div>
      </div>
    </div>

    {{> modal}}

    <script>
      var isupdatable = {{ isupdatable }};
      var redirectsecure = {{ redirectsecure }};
      //ID{{# id }}
      var id = "{{ id }}";
      //ID{{/ id}}
      if (isupdatable) { var socket = io.connect("{{{ appurl }}}"); }
    </script>
    <script type="text/javascript" src="/js/main.js"></script>

  </body>

</html>
