$bio-pic-width: 22%;
$bio-section-width: 100% - $bio-pic-width - 3%;
$bio-section-spacing: 2 * $pica;

.frontmatter .bio
{
  width: 100%;
  display: block;
  clear: both; //clear float
}
.frontmatter .bio .bio-pic
{
  float: left;
  display: block;
  width: $bio-pic-width;
  padding-top: 0*$pica;
  padding-bottom: $bio-section-spacing;
}
.frontmatter .bio .bio-section
{
  float: right;
  display: block;
  width: $bio-section-width;
  padding-bottom: $bio-section-spacing;
}
.frontmatter .bio .bio-section .bio-name
{

}
.frontmatter .bio .bio-section .bio-title
{
  font-family: "std-300";
  margin-bottom: 1*$pica;
}
.frontmatter .bio .bio-section .bio-desc
{

}
