@import "lib/sass-material-colors/sass/sass-material-colors";
@import "lib/sass-material-colors/sass/sass-material-colors-classes";

/** FONTS **/

@font-face {
  font-family: "helvetica";
  src: url(../fonts/HelveticaNeue-Medium.otf);
}
@font-face {
  font-family: "helvetica-lt";
  src: url(../fonts/HelveticaNeue-Light.otf);
}
@font-face {
  font-family: "std-900";
  src: url(../fonts/HelveticaNeueLTStd-Blk.otf);
}
@font-face {
  font-family: "std-700";
  src: url(../fonts/HelveticaNeueLTStd-Md.otf);
}
@font-face {
  font-family: "std-500";
  src: url(../fonts/HelveticaNeueLTStd-Roman.otf);
}
@font-face {
  font-family: "std-500";
  font-weight: bold;
  src: url(../fonts/HelveticaNeueLTStd-Md.otf);
}
@font-face {
  font-family: "std-300";
  src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}
@font-face {
  font-family: "std-100";
  src: url(../fonts/HelveticaNeueLTStd-Th.otf);
}
.font-900
{
  font-family: "std-900";
}
.font-700
{
  font-family: "std-700";
}
.font-500
{
  font-family: "std-500";
}
.font-300
{
  font-family: "std-300";
}
.font-100
{
  font-family: "std-100";
}
.italic
{
  font-style: italic;
}

/** CONSTANTS **/
$pica: 12pt;                                                        //picas per point
$page-margin: 4*$pica 0*$pica;                                      //page margin
$page-padding-x: 2*$pica;                                           //page padding (x)
$page-padding-y: 2*$pica;                                           //page padding (y)
$page-padding: $page-padding-y $page-padding-x;                     //page padding
$page-bleed: auto;                                                  //page bleed
$header-margin: 3pt $page-padding-x 0*$pica $page-padding-x;        //header margin
$footer-margin-bottom: 1.5*$pica;                                   //page number extra space
$footer-width: 2.5*$pica;                                           //page number width
$title-margin-top: -$page-padding-y - (2*$pica);                    //title margin (top)
$title-margin: $title-margin-top -2*$pica 2*$pica -2*$pica;         //title margin
$title-padding: 3*$pica $page-padding-x 0*$pica $page-padding-x;    //title padding
$title-font-size: 28pt;                                             //title font size
$title-height: 3.5*$pica;                                           //title height
$toc-leader-string: ' ';                                            //table of contents leader
$cover-margin-bottom: 0*$pica;                                      //bottom margin for items on cover page
$cover-logo-width: 32*$pica;                                        //cover logo image width
$card-cover-margin: -$page-padding-y 0*$pica 2*$pica -2*$pica;      //card cover image margin
$card-cover-padding: 0 4*$pica 0*$pica 0*$pica;                     //card cover image margin
$color-purple: #9b26b6;                                             //base purple color

/** HELPER FUNCTIONS **/
@mixin vertical-center($height) {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  height: $height;
}

/**** PAGED MEDIA ****/
@page
{
  size: US-Letter portrait;
  padding: $page-padding;
  margin: $page-margin;
  bleed: $page-bleed;
}
page
{
  page-break-before: always;
  height: 100%;
  width: 100%;
  display: block;
}

/** COVER **/
@page cover
{
  background-color: $color-purple;
}
page.cover
{
  page: cover;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  @include vertical-center(48*$pica);
}
page.blank
{
  page: blank;
}
page.empty
{
  page: empty;
  display: block;
  height: 100%;
}
page.list
{
  display: block;
  height: 100%;
  page: list;
  color: white;
}
page.clear
{
  color: white;
}
page.reset
{
  counter-reset: page 0;
}
page.doublebreak
{
  page-break-before: right;
}
page.cover img.logo
{
  width: $cover-logo-width;
  padding-bottom: 8*$pica;
}
page.cover .name1
{
  font-size: 30pt;
}
page.cover .name2
{
  padding-bottom: 10*$pica;
}
page.cover .bottom
{
  position: fixed;
  bottom: $cover-margin-bottom;
  left: 0;
  right: 0;
}
page.cover .bottom .time-built,
page.cover .bottom .time-mod
{
  margin: 0;
  padding: 0;
}

/** TITLES **/
page .title
{
  background-color: $color-purple;
  position: relative;
  color: white;
  font-family: "std-700";
  top: 0;
  height: $title-height;
  left: 0;
  right: 0;
  margin: $title-margin;
  padding: $title-padding;
}

.list-meta
{
  display: none;
  string-set: list-name content();
}
page.list .title h1,
page.toc .title h1,
page.frontmatter .title h1
{
  prince-bookmark-level: 1;
  string-set: list-name '';
  string-set: card-name '';
}

page.frontmatter .title h1,
page.card .title h1
{
  prince-bookmark-level: 2;
  string-set: card-name content();
}
page .title h1
{
  font-size: $title-font-size;
}

/** PAGE BREAKS **/
.page-break {
  display: block;
  page-break-before: always; // force a page break
}

/** TABLE OF CONTENTS AND LISTS **/

.toc-inner, .list-cards-inner
{
  margin: 0;
}
.toc-inner li, .list-cards-inner li
{
  list-style: none;
}
.toc-inner li a
{
  color: black;
  text-decoration: none;
  font-size: 14pt;
}
.list-cards-inner li a
{
  color: white;
  text-decoration: none;
  font-size: 16pt;
}
.toc-inner li.l2
{
  margin-top: 0pt;
}
.toc-inner li.l1 a
{
  font-family: "std-700";
}
.toc-inner li.l2 a
{
  padding-left: 2*$pica;
  font-family: "std-300";
}
.toc-inner li a::after, .list-cards-inner li a::after {
  content: leader($toc-leader-string) target-counter(attr(href), page);
}

/** URLS **/
/** INSERT LATER - fix to add an invisible character after a '.' - breaks long urls
span.url {
    prince-text-replace: '.' '.\200B'
}
/**

/** CARDS **/
.card .card-cover
{
  width: 100%;
  height: 24*$pica;
  background-position: center;
  background-size: cover;
  margin: $card-cover-margin;
  padding: $card-cover-padding;
}

/** BIOS **/
@import 'bios';

/** HEADERS / FOOTERS **/
@mixin footer-page-number() {
  margin: $header-margin;
  content: counter(page);
  background-color: $color-purple;
  width: $footer-width;
  height: 2*$pica;
  text-align: center;
  margin-bottom: $footer-margin-bottom;
  font-family: "std-700";
  color: white;
  font-size: 12pt;
  padding-top: 4px;
}
@mixin header-top()
{
  background-color: $color-purple;
  color: white;
  font-family: "std-300";
  font-size: 12pt;
  width: 100%;
  padding: $header-margin;
  height: 4*$pica;
}
@page:left {
  @top-left {
    content: string(card-name);
    @include header-top();
    width: 60%;
    font-family: "std-700";
  }
  @top-right {
    content: "Engineering Notebook 2015-2016";
    @include header-top();
    width: 40%;
  }
  @bottom-left {
    @include footer-page-number();
  }
}
@page:right {
  @top-left {
    content: string(list-name);
    @include header-top();
    width: 60%;
    font-family: "std-700";
  }
  @top-right {
    content: "4290 High PHidelity";
    @include header-top();
    width: 40%;
  }
  @bottom-right {
    @include footer-page-number();
  }
}
@page blank {
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @bottom-left {
    content: normal;
  }
  @bottom-right {
    content: normal;
  }
}
@page cover {
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
  @bottom-left {
    content: normal;
  }
  @bottom-right {
    content: normal;
  }
}
@page list {
  background-color: $color-purple;
}

/** MAIN **/
body
{
  font-family: "std-500";
  font-size: 14pt;
}
*,
.nomarg,
page .title h1
{
  margin: 0;
}
h1, h2, h3, h4, h5, h6 { prince-bookmark-level: none }
h1
{
  margin: 12pt 0;
}
h2
{
  margin: 12pt 0;
}
h3
{
  margin: 12pt 0;
}
